@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Josefin+Slab:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: Josefin Sans, sans-serif;
    color: black;
}

body a:hover {
    cursor: url("../images/paw-solid.svg"), auto;
}


/* Header*/

header {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
}

#logo {
    width: 70%;
    padding-left: 20%;
    padding-top: 5%;
}

header ul {
    padding-top: 3%;
    padding-right: 5%;
}

header li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 25px;
    font-size: 28px;
    font-weight: bold;
}


header a {
    text-decoration: none;
    margin-right: auto;
    color: black;
}

header li:hover {
    background-color: #89CFF0;
}

.active {
    border-bottom: 2px solid;
}

/* About section*/

#about {
    background-color: #eae9d9;
}

.flexbox-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1%;
}

.flexbox-left {
    display: flex;
    justify-content: flex-end;
}

#about-text {
    width: 60%;
    height: 600px;
    position: relative;
}

.text-top {
    position: absolute;
    top: 5%;
    right: 2%;
    line-height: 4em;
}

.text-top h2 {
    font-size: 3em;
    font-style: italic;
}

.text-top h1 {
    text-align: right;
    font-size: 2.5em;
}

.text-top p {
    text-align: right;
}

.text-bottom {
    position: absolute;
    bottom: 5%;
    right: 2%;
    line-height: 4em;
}

.text-bottom h2, h4 {
    text-align: center;
    font-size: 2em;
}

.flex-columns {
    display: flex;
    justify-content: space-evenly;
    margin-right: 300px;
    margin-left: 100px;
    width: 120%;

}

#about-photo {
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
}

.column-container {
    inline-size: 40%;
    line-height:2.5em;
    overflow: wrap;
}

.column-container h3 {
    font-size: 1.3em;
}

.column-container li {
    font-size: 1.3em;
}

/* Carousel */

#carousel {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    position: relative;
}

#carousel img {
    height: 500px;
}

#carousel video {
    height: 500px;
}

/* Contact-location section */

#location {
    width: 100%;
    background-image: url(../images/bckgrd-forest.jpg);
    height: 600px;
    color: #eae9d9;
}

#location a {
    text-decoration: none;
    color: #eae9d9;
}

#location-heading {
    background-color: rgba(171, 182, 171, 0.5) ;
}

#location-container {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#location-content {
    
}

#map {
    height: 400px;
}