@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Yeseva+One&display=swap');
* {
    margin:0;
    padding:0;
}

body {
    font-family: Josefin Sans, sans-serif;
    color: black;
}

h1, h2 {
    font-family: 'Yeseva One', cursive;
}

body a:hover {
    cursor: url("../images/paw-solid.svg"), auto;
}


/* Header*/

header {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
}

#logo {
    width: 70%;
    padding-left: 20%;
    padding-top: 5%;
}

header ul {
    padding-top: 3%;
    padding-right: 5%;
}

header li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 25px;
    font-size: 28px;
    font-weight: bold;
}


header a {
    text-decoration: none;
    margin-right: auto;
    color: black;
}

header li:hover {
    background-color: #89CFF0;
}

.active {
    border-bottom: 2px solid;
}

/* About section*/

#about {
    background-color: #eae9d9;
}

.flexbox-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1%;
}

.flexbox-left {
    display: flex;
    justify-content: flex-end;
}

#about-text {
    width: 60%;
    height: 600px;
    position: relative;
}

.text-top {
    position: absolute;
    top: 5%;
    right: 2%;
    line-height: 4em;
}

.text-top h2 {
    font-size: 3em;
    font-style: italic;
}

.text-top h1 {
    text-align: right;
    font-size: 2.5em;
}

.text-top p {
    text-align: right;
}

.text-bottom {
    position: absolute;
    bottom: 5%;
    right: 2%;
    line-height: 4em;
}

.text-bottom h2 {
    text-align: center;
    font-size: 1.7em;
}

.flex-columns {
    display: flex;
    justify-content: space-evenly;
    margin-right: 300px;
    margin-left: 100px;
    width: 120%;

}

#about-photo {
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
}

.column-container {
    inline-size: 40%;
    line-height:2.5em;
    overflow: wrap;
}

.column-container h3 {
    font-size: 1.3em;
}

.column-container li {
    font-size: 1.3em;
    list-style-type: none;
}

/* Carousel */

#carousel {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    position: relative;
}

#carousel img {
    height: 500px;
    border-radius: 16px;
    z-index: 3;
}

#carousel video {
    height: 500px;
    border-radius: 16px;
    z-index: 3;
}

/* Contact-location section */

#location {
    width: 100%;
    background-image: url(../images/bckgrd-forest.jpg);
    height: 600px;
    background-color: #45811c;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}


#location-heading {
    padding-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    letter-spacing: 0.1em;
}

#location-heading h2 {
    margin-top: 1%;
    padding: 2%;
    background-color: rgba(126, 103, 106, 0.6);font-size: 2em;
    
}

#location-container {
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1%;
    overflow: hidden;
}

#location-content {
    width:30%;
    line-height: 1.5em;
    font-size: 1.2em;
}

.location-content-box {
    background-color: rgba(126, 103, 106, 0.6);
    text-align: center;
    margin:1%;
    padding: 1%;
}

.location-content-box h3 {
    font-family: 'Yeseva One', cursive;
    letter-spacing: 0.1em;
}
.timetable {
    width: 100%;
}

.text-center {
    text-align: center;
}

#map {
    width: 30%;
    height: 400px;
    overflow: hidden;
}

#map iframe {
    height: 400px; 
    width: 100%; 
}

/* Footer */


footer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
}

footer ul {
    padding-right: 5em;
    padding-bottom: 2em;
}

footer li {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 15px;
    margin-left: 4em;
}

footer a {
    color: black;
    text-decoration: none;
}

footer li:hover {
    background-color: #89CFF0;
}

/* Gallery */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eae9d9 ;
}

#gallery h1 {
    font-family: 'Yeseva One', cursive;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
}

.catbox {
    width: 30%;
    height: 20%;
    padding: 5%;
    
}

.catbox img {
    width: 100%;
    height: 100%;
    border-radius: 8%;
}

.catbox p {
    line-height: 2em;
    font-size: 1.5em;
}

/* Signup */

#signup-container {
    background-image: url("../images/signup-background.jpg");
    background-color: #45811c;
    background-size: cover;
    height: 900px;
    width: 100%;
    color:white
    
}

#signup-container h1 {
    padding-bottom: 1%;
}

#signup-container legend {
    font-size: 1.2em;
}

#signup-container h1, legend {
    font-family: 'Yeseva One', cursive;
}

.font-bold {
    font-weight: bold;
}

#signup-container form {
    background-image: linear-gradient(rgba(70, 58, 60, 0.6), rgba(126, 103, 106, 0.6));
    width: 35%;
    margin-top: 3%;
    margin-left: 15%;
    padding: 1%;
    float: left;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.1em;
}

#signup-container #name, #email, #phone {
    height: 2em;
    width: 60%;
    background-color: rgba(189, 221, 186, 0.6);
}

#signup-container #comments {
    width: 80%; 
    background-color: rgba(189, 221, 186, 0.6);
    box-sizing: border-box;
}

#signup-container button {
    line-height: 2em;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1em;
    background-color: rgb(206, 139, 15);
    color: white;
    border: none;
    border-radius: 8px;
    letter-spacing: 0.2em;
}

#signup-container button {
    cursor: url("../images/paw-solid.svg"), auto;
}

.orange-border:hover {
    border-color: rgb(206, 139, 15);
}


