@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Yeseva+One&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: Josefin Sans, sans-serif;
}

h1, h2 {
    font-family: Yeseva One, cursive;
}

header {
    display: flex;
    justify-content: flex-end;
}

#logo {
    width: 70%;
    padding-left: 20%;
    padding-top: 5%;
}

header ul {
    padding-top: 3%;
    padding-right: 5%;
}

header li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
    font-size: 150%;
}


header a {
    text-decoration: none;
    margin-right: auto;
}

#about {
    background-color: #eae9d9;
}

#hero-photo{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

