@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Josefin+Slab:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: Josefin Sans, sans-serif;
    color: black;
}

body a:hover {
    cursor: url("../images/paw-solid.svg"), auto;
}

h1 {
    font-size: 2em;
}

/* Header*/

header {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
}

#logo {
    width: 70%;
    padding-left: 20%;
    padding-top: 5%;
}

header ul {
    padding-top: 3%;
    padding-right: 5%;
}

header li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 25px;
    font-size: 28px;
    font-weight: bold;
}


header a {
    text-decoration: none;
    margin-right: auto;
    color: black;
}

header li:hover {
    background-color: #89CFF0;
}

.active {
    border-bottom: 2px solid;
}

/* About section*/

#about {
    background-color: #eae9d9;
    
}

#about-text {
   background-color: red;
   float: left;
   width: 50%;
}

#about-photo{
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
}

#carousel {
    background-color: blue;
    
}

