@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Yeseva+One&display=swap');
* {
    margin:0;
    padding:0;
}

body {
    font-family: Josefin Sans, sans-serif;
    color: black;
}

h1, h2 {
    font-family: 'Yeseva One', cursive;
}

body a:hover {
    cursor: url("../images/paw-solid.svg"), auto;
}


/* Header*/

header {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
}

#logo {
    width: 70%;
    padding-left: 20%;
    padding-top: 5%;
}

header ul {
    padding-top: 3%;
    padding-right: 5%;
}

header li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 25px;
    font-size: 28px;
    font-weight: bold;
}


header a {
    text-decoration: none;
    margin-right: auto;
    color: black;
}

header li:hover {
    background-color: #89CFF0;
}

.active {
    border-bottom: 2px solid;
}

/* About section*/

#about {
    background-color: #eae9d9;
    height: 1190px;
}

.flexbox-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1%;
}

.flexbox-left {
    display: flex;
    justify-content: flex-end;
}

#about-text {
    width: 60%;
    height: 650px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.text-top {
    margin-top: 2%;
    line-height: 4em;
    padding-bottom: 5%;
}

.text-top h1 {
    text-align: right;
    font-size: 2em;
}

#freud {
    text-align: right;
    font-size: 1em;
}

.quote {
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
}

.text-bottom {
    bottom: 2%;
    right: 2%;
    line-height: 4em;
}

.text-bottom h2 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 2%;
}

.flex-columns {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 10%;
    margin-bottom: 5%;
}

#about-photo {
    width: 40%;
    height: 650px;
    display: flex;
    justify-content: flex-end;
}

.column-container {
    inline-size: 40%;
    line-height:2.5em;
    overflow-wrap: break-word;
}

.column-container h3 {
    font-size: 1.3em;
}

.column-container li {
    font-size: 1.3em;
    list-style-type: none;
}

.text-bottom p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/* Carousel */

#carousel {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: clip;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 520px;
}
 
.carousel-slide {
    position: relative;
}

#carousel img {
    height: 500px;
    border-radius: 16px;
}

#carousel video {
    height: 500px;
    border-radius: 16px;
}

/* Contact-location section */

#location {
    width: 100%;
    background-image: url(../images/bckgrd-forest.jpg);
    height: 600px;
    background-color: #45811c;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}


#location-heading {
    padding-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    letter-spacing: 0.1em;
}

#location-heading h2 {
    margin-top: 1%;
    padding: 2%;
    background-color: rgba(126, 103, 106, 0.6);font-size: 2em;
    
}

#location-container {
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1%;
    overflow: hidden;
}

#location-content {
    width:30%;
    line-height: 1.5em;
    font-size: 1.2em;
}

.location-content-box {
    background-color: rgba(126, 103, 106, 0.6);
    text-align: center;
    margin:1%;
    padding: 1%;
}

.location-content-box h3 {
    font-family: 'Yeseva One', cursive;
    letter-spacing: 0.1em;
}

.location-content-box a {
    text-decoration: none;
    color: white;
}

.location-content-box a:hover {
    background-color: rgba(137, 224, 129, 0.6);
}

.timetable {
    width: 100%;
}

.text-center {
    text-align: center;
}

#map {
    width: 30%;
    height: 400px;
    overflow: hidden;
}

#map iframe {
    height: 400px; 
    width: 100%; 
}

/* Footer */


footer {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
}

footer ul {
    padding-right: 5em;
    padding-bottom: 2em;
}

footer li {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 15px;
    margin-left: 4em;
}

footer a {
    color: black;
    text-decoration: none;
}

footer li:hover {
    background-color: #89CFF0;
}

/* Gallery */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eae9d9 ;
}

#gallery h1 {
    font-family: 'Yeseva One', cursive;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
}

.catbox {
    width: 30%;
    height: 20%;
    padding: 5%;
    
}

.catbox img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.catbox p {
    line-height: 2em;
    font-size: 1.5em;
}

/* Signup */

#signup-container {
    background-image: url("../images/signup-background.jpg");
    background-color: #45811c;
    background-size: cover;
    height: 900px;
    width: 100%;
    color:white
    
}

#signup-container h1 {
    padding-bottom: 1%;
}

#signup-container legend {
    font-size: 1.2em;
}

#signup-container h1, legend {
    font-family: 'Yeseva One', cursive;
}

.font-bold {
    font-weight: bold;
}

#signup-container form {
    background-image: linear-gradient(rgba(70, 58, 60, 0.6), rgba(126, 103, 106, 0.6));
    width: 35%;
    margin-top: 3%;
    margin-left: 15%;
    padding: 1%;
    float: left;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.1em;
}

#signup-container #name, #email, #phone {
    height: 2em;
    width: 60%;
    background-color: rgba(189, 221, 186, 0.6);
}

#signup-container #comments {
    width: 80%; 
    background-color: rgba(189, 221, 186, 0.6);
    box-sizing: border-box;
}

#signup-container button {
    line-height: 2em;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1em;
    background-color: rgb(206, 139, 15);
    color: white;
    border: none;
    border-radius: 8px;
    letter-spacing: 0.2em;
}

#signup-container button {
    cursor: url("../images/paw-solid.svg"), auto;
}

.orange-border:hover {
    border-color: rgb(206, 139, 15);
}

/*Screen size below 1500px*/
@media screen and (max-width: 1500px) {
    /*About section*/
    #about {
        background-color: #eae9d9;
        height: 990px;
    }

    #about-text {
        width: 50%;
        height: 600px;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .flex-columns {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-left: 6%;
        margin-bottom: 2%;
    }
    
    .column-container {
        inline-size: 40%;
        line-height: 2.2em;
        padding-right: 2%;
    }

    .column-container li {
        font-size: 1.2em;
        list-style-type: none;
    }

    .text-bottom p {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        padding-top: 2%;
    }
    
    #about-photo {
        width: 50%;
        height: 600px;
        display: flex;
        justify-content: flex-end;
    }

    #carousel {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-x: scroll;
        overflow-y: clip;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        height: 370px;
    }
    
    #carousel img {
        height: 350px;
        border-radius: 16px;
        z-index: 3;
    }
    
    #carousel video {
        height: 350px;
        border-radius: 16px;
        z-index: 3;
    }

}

@media screen and (min-width: 320px) and (max-width: 430px) {
   
    header {
        display: flex;
        flex-wrap: wrap;
    }
   
    header li {
        list-style-type: none;
        display: inline-block;
        padding: 5%;
        font-weight: bold;
        font-size: 1em;
    }

    header a {
        text-decoration: none;
        color: black;
        flex: 50%;
    }

    #logo {
        width: 80%;
        padding-left: 5%;
        padding-top: 10%;
    }

    nav {
        /*As flex container*/
        display: flex;
        flex-direction: column;
        /*As flex item*/
        flex: 40%;
    }

    #about {
        background-color: #eae9d9;
        height: 1170px;
        display: flex;
        flex-direction: column;
    }
    .flexbox-center {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 1%;
    }
    #about-text {
        height: 600px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        flex: 100%;
    }
    .text-top h1 {
        text-align: center;
        font-size: 1.1em;
    }
    .quote {
        text-align: center;
        font-size: 1em;
        font-style: italic;
    }
    #freud {
        text-align: right;
        font-size: 0.8em;
        padding-right: 5%;
    }
    .text-top {
        margin-top: 2%;
        line-height: 2em;
        padding-bottom: 5%;
    }
    .text-bottom {
        bottom: 2%;
        right: 2%;
        line-height: 2em;
    }
    .text-bottom h2 {
        text-align: center;
        font-size: 1em;
        padding-bottom: 2%;
    }
    .flex-columns {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 6%;
        margin-bottom: 2%;
        margin-right: 6%;
    }
    .column-container {
        line-height: 1.5em;
        padding-right: 2%;
        flex: 100%;
    }
    .column-container h3 {
        font-size: 1em;
        text-align: center;
    }
    .column-container li {
        font-size: 1em;
        list-style-type: none;
        text-align: center;
    }
    .text-bottom p {
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        padding-top: 2%;
    }
    #about-photo {
        height: 300px;
        display: flex;
        flex: 100%;
        text-align: center;
    }
    #carousel {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-x: scroll;
        overflow-y: clip;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        height: 270px;
    }
    #carousel img {
        height: 250px;
        border-radius: 16px;
        z-index: 3;
    }
    #carousel video {
        height: 250px;
        border-radius: 16px;
        z-index: 3;
    }

    /* Location section*/
    #location {
        width: 100%;
        background-image: url(../images/bckgrd-forest.jpg);
        height: 750px;
        background-color: #45811c;
        color: white;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #location-heading h2 {
        margin-top: 1%;
        padding: 2%;
        background-color: rgba(126, 103, 106, 0.6);
        font-size: 2em;
        display: none;
    }

    #location-container {
        height: 700px;
        display: flex;
        margin: 1%;
        flex-wrap: wrap;
    }

    #location-content {
        line-height: 1.5em;
        font-size: 1.2em;
        flex: 50%;
    }

    #map {
        height: 250px;
        flex: 60%;
        width: 100%;
    }

    #map {
        height: 300px;
        width: 100%;
        padding-left: 1%;
    }

    #map iframe {
        height: 300px;
        width: 98%;
        overflow: visible;
    }

    /* Footer */
    footer ul {
        padding-bottom: 2em;
        padding-right: 0;
    }

    footer li {
        display: inline;
        font-size: 1.5em;
        margin-right: 1em;
        margin-left: 1em;
    }
    
}

/* Gallery */

.catbox {
    width: 30%;
    height: 20%;
    padding: 5%;
    flex: 100%;
}

.catbox p {
    line-height: 2em;
    font-size: 1.2em;
}

/* Signup */

#signup-container form {
    background-image: linear-gradient(rgba(70, 58, 60, 0.6), rgba(126, 103, 106, 0.6));
    padding: 2%;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0.1em;
}